body{
    background: #FF6600;
    color: #3B3B3B;
    font-family: "Abel", sans-serif;
    font-size: 20px;
}

@font-face {
    font-family: FontAwesome;
}

span{
    color: rgba(252, 252, 252, .5);
}

h1, h2{
    font-family: "Gill Sans MT", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #111111;
    text-align: center;
}

h2{
    text-align: center;
    color: #2B2B2B;;
}

#header{
    width: 1000px;
    margin: 50px auto;
}

#logo h1{
    line-height: 150px;
    letter-spacing: 5px;
    width: 1000px auto;
    font-size: 8.5em;
}

#sixColumns{
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    padding: 30px 30px;
}

#sixColumns h2{
    padding: 10px 10px 10px 10px;
    font-size: 35px;
    letter-spacing: -2px;
}

#sixColumns #column1{
    float: left;
    width: 300px;
    margin-right: 50px;
}

#sixColumns #column2{
    float: left;
    width: 300px;
}

#sixColumns #column3{
    float: right;
    width: 300px;
}

#sixColumns #column4{
    float: left;
    width: 300px;
    margin-right: 50px;
}

#sixColumns #column5{
    float: left;
    width: 300px;
}

#sixColumns #column6{
    float: right;
    width: 300px;
}

#column1 p1:before{
    font-family: 'FontAwesome';
    content: '\f000';
    font-size: 150px;
    display: block;
    text-align: center;
}

#column2 p2:before{
    font-family: 'FontAwesome';
    content: '\f000';
    font-size: 150px;
    display: block;
    text-align: center;
}

#column3 p3:before{
    font-family: 'FontAwesome';
    content: '\f000';
    font-size: 150px;
    display: block;
    text-align: center;
}

#column4 p4:before{
    font-family: 'FontAwesome';
    content: '\f000';
    font-size: 150px;
    display: block;
    text-align: center;
}

#column5 p5:before{
    font-family: 'FontAwesome';
    content: '\f000';
    font-size: 150px;
    display: block;
    text-align: center;
}

#column6 p6:before{
    font-family: 'FontAwesome';
    content: '\f000';
    font-size: 150px;
    display: block;
    text-align: center;
}

